* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: inherit;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  flex: 1;
  overflow-x: hidden;
}

input,
button {
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: fill;
  max-height: auto;
  vertical-align: bottom;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}

.hover_underline:hover {
  text-decoration: underline;
}

.subtitle {
  font-size: 30px;
  padding: 0 170px;
  margin-bottom: 50px;
  font-weight: 400;
}

.stop_scroll {
  height: 100vh;
  overflow-y: hidden;
}

.modal_show {
  display: flex !important;
}