/*------------------ button ------------------*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: auto;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background-color: #373737;
  box-sizing: border-box;
  padding: 13px 17px;
  border: 1px solid transparent;

  transition: border .3s, background-color .3s, color .3s;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  color: #373737;
  border: 1px solid #373737;

  transition: border .3s, background-color .3s, color .3s;
}

.btn_inverse {
  background-color: #fff;
  color: #373737;
}

.btn_search {
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn_search:hover {
  background-color: #373737;
  color: #fff;
  border: 1px solid #fff;
}


/*------------------ input ------------------*/

.input {
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  max-height: 50px;
}

.input_search {
  background-color: #EFEFEF;
  max-width: 270px;
}

.input::placeholder {
  font-size: 16px;
  font-weight: lighter;
}

.input_search::placeholder {
  font-size: 20px;
  color: #686868;
  line-height: 18;
}

/*------------------ sort list ------------------*/

.sort_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort_item {
  color: #686868;
  cursor: pointer;
  transition: color .3s;
}

.sort_item:hover {
  color: #000;
  transition: color .3s;
}

.sort_select {
  color: #000;
}

/*------------------ social ------------------*/

.social_list {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
}

.social_item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icon {
  transition: stroke .3s, fill .3s;
  stroke: #fff;
}

.social_icon:hover {
  stroke: #000;
  transition: stroke .3s, fill .3s;
}

.social_icon__twiiter {
  fill: #fff;
}

.social_icon__twiiter:hover {
  fill: #000;
}

/*------------------ furniture card ------------------*/

.card {
  transition: box-shadow .3s;
}

.card:hover {
  box-shadow: 8px 8px 20px rgba(39, 39, 43, .1);
  transition: box-shadow .3s;
}

.card_top {
  margin-bottom: 10px;
}

.card_content {
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card_title,
.card_price {
  color: #373737;
  line-height: 30px;
}

.card_text {
  font-weight: lighter;
  font-size: 16px;
}

.card_name {
  display: flex;
  justify-content: space-between;
}

.card_btn {
  width: 102px;
  padding: 8px 10px;
  font-size: 16px;
}


/*------------------ comment card ------------------*/

.comment {
  padding: 5px;
  padding-right: 25px;
  border-radius: 5px;
  background: #F9F9F9;

  display: flex;
  gap: 25px;
}

.comment_photo {
  flex-shrink: 0;
  flex-grow: 0;
}

.comment_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment_name {
  color: #373737;
  line-height: 30px;
  display: block;
}

.comment_date {
  font-size: 16px;
  color: #696161;
}

.comment_text {
  font-weight: lighter;
  font-size: 16px;
}

.comment_stars {
  display: flex;
  gap: 10px;
}

/*------------------ next, prev btn ------------------*/

.next,
.prev {
  background: #373737;
  opacity: .5;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
}

.next:hover,
.prev:hover {
  background-color: #000;
  transition: background .3s;
}

.prev {
  transform: rotate(180deg);
}

/*------------------ modal ------------------*/

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_window {
  height: 600px;
  width: 600px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.modal_title {
  font-size: 40px;
  font-weight: lighter;
}

.modal_close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal-input {
  border: 1px solid #000;
  transition: box-shadow .3s;
}

.modal-input:focus {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, .25);
  transition: box-shadow .3s;
}